/* .box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.7);
  border-radius: 4px;
  padding: 30px;
  background-color: #283593;
} */
/* .box {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.7);
  border-radius: 4px;
  padding: 30px;
  background-color: rgb(82, 45, 169);
  height: 40vh;
} */
canvas {
  width: 100% !important;
  height: 100% !important;
}
